/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/app.scss */
#top-navbar .glyphicon-cog {
  vertical-align: middle;
  font-size: 16px;
}

/* line 14, ../sass/app.scss */
.main-content {
  position: relative;
}
/* line 18, ../sass/app.scss */
.main-content .list-group .label {
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 3px;
}
/* line 27, ../sass/app.scss */
.main-content .list-group-item-heading .glyphicon-thumbs-up {
  float: right;
}
/* line 35, ../sass/app.scss */
.main-content .list-group-item-success img {
  display: block;
  max-width: 130px;
}
/* line 45, ../sass/app.scss */
.main-content .list-group-item-success .question-info .glyphicon {
  margin-left: 6px;
}
/* line 50, ../sass/app.scss */
.main-content .list-group-item-success .visible-sm-block {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  /* line 56, ../sass/app.scss */
  .main-content .list-group-item-success .list-group-item-text {
    margin-bottom: 12px;
  }
}
@media (min-width: 992px) {
  /* line 62, ../sass/app.scss */
  .main-content .list-group-item-success .list-group-item-text {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  /* line 70, ../sass/app.scss */
  .main-content .row {
    margin-bottom: 20px;
  }
}

/* line 78, ../sass/app.scss */
.animate-show.ng-leave, .animate-show.ng-enter {
  -webkit-transition: all linear 1.5s;
  transition: all linear 1.5s;
}
/* line 83, ../sass/app.scss */
.animate-show.ng-leave {
  opacity: 1;
}
/* line 87, ../sass/app.scss */
.animate-show.ng-enter {
  opacity: 0;
}
/* line 91, ../sass/app.scss */
.animate-show.ng-leave.ng-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
}
/* line 97, ../sass/app.scss */
.animate-show.ng-enter.ng-enter-active {
  opacity: 1;
  position: absolute;
  width: 100%;
}
