<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link href="api.stackexchange.com" rel="dns-prefetch" />
</head>
<body ng-controller="mainCtrl">

    <nav class="navbar navbar-default" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="collapse()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/angularjs/1">StackOverflow questions</a>
            </div>

            <div class="collapse navbar-collapse row" id="top-navbar">

                <form class="navbar-form navbar-right" role="search" ng-submit="searchKeyWords(); ">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search" ng-model="searchInputs" />

                        <a class="btn btn-default hidden-xs" ng-click="searchKeyWords()" >
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            {{sortBy}}
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:;" ng-click="setSort('creation','最新发布')" >最新发布</a></li>
                            <li><a href="javascript:;" ng-click="setSort('votes','得分')">得分</a></li>
                            <li><a href="javascript:;" ng-click="setSort('hot','热门')" >热门</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" ng-click="setSort('activity','最近更新（默认）')">最近更新（默认）</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li ng-class="$routeParams.search == 'ruby' ? 'active': null" ><a href="#/ruby/1">ruby</a></li>
                    <li ng-class="$routeParams.search == 'phonegap' ? 'active': null" ><a href="#/phonegap/1">phonegap</a></li>
                    <li ng-class="$routeParams.search == 'angularjs' ? 'active': null" ><a href="#/angularjs/1">angularjs</a></li>
                    <li ng-class="$routeParams.search == 'powershell' ? 'active': null" ><a href="#/powershell/1">powershell</a></li>
                    <li ng-class="$routeParams.search == 'scss' ? 'active': null" ><a href="#/scss/1">scss</a></li>
                </ul>

            </div>

        </div>
    </nav>

    <div class="container main-content" >
        <div ng-view ng-class="'animate-show'"></div>
    </div>


    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="sfCore.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

</body>
</html>
