/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
#top-navbar {

    .glyphicon-cog {
        vertical-align: middle;
        font-size: 16px;
    }
}


.main-content {
    position: relative;

    .list-group {
        .label {
            margin-bottom: 3px;
            display: inline-block;
            margin-right: 3px;
        }
    }

    .list-group-item-heading {

        .glyphicon-thumbs-up {
            float: right;
        }
    }


    .list-group-item-success {

        img {
            display: block;
            //float: left;
            max-width: 130px;
        }
        //.list-group-item-text{
        //	margin-top: 15px;
        //	margin-left: 110px;
        //}
        .question-info {
            .glyphicon {
                margin-left: 6px;
            }
        }

        .visible-sm-block {
            margin-bottom: 10px;
        }


        @media (min-width: 1200px) {
            .list-group-item-text {
                margin-bottom: 12px;
            }
        }

        @media (min-width: 992px) {
            .list-group-item-text {
                margin-top: 10px;
            }
        }
    }


    @media (min-width: 768px) {
        .row {
            margin-bottom: 20px;
        }
    }
}

.animate-show {

    &.ng-leave, &.ng-enter {
        -webkit-transition: all linear 1.5s;
        transition: all linear 1.5s;
    }

    &.ng-leave {
        opacity: 1;
    }

    &.ng-enter {
        opacity: 0;
    }

    &.ng-leave.ng-leave-active {
        opacity: 0;
        position: absolute;
        width: 100%;
    }

    &.ng-enter.ng-enter-active {
        opacity: 1;
        position: absolute;
        width: 100%;
    }
}
