/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
#top-navbar{
	 
	.glyphicon-cog{
		vertical-align: middle;
		font-size: 16px;
	}



}


.main-content{

	.list-group{
		.label{
			margin-bottom: 3px;
			display: inline-block;
			margin-right: 3px;
		}
		
	}

	.list-group-item-heading{
	
		.glyphicon-thumbs-up{
			float: right;
		}

	}


	.list-group-item-success{
	
		img{
			display: block;
			//float: left;
			//width: 100px;
		}

		//.list-group-item-text{
		//	margin-top: 15px;
		//	margin-left: 110px;
 		//}

		.question-info{
			.glyphicon{
				margin-left: 6px;
			}
			
		}

		.visible-sm-block{
			margin-bottom: 10px;
		}


		@media (min-width: 1200px){
			.list-group-item-text{
				margin-bottom: 12px;
			}
		}

		@media (min-width: 992px){
			.list-group-item-text{
				margin-top: 10px;
			}
		}

	}


	@media (min-width: 768px){
		.row{
			margin-bottom: 20px;
		}
	}

}


